%h2.my-3.p-1.bg-primary.text-light.text-center Nuevo Servicio

= render 'form'

= link_to 'Regresar', services_path, class: 'btn mt-3 btn-secondary'

- content = render partial: '/layouts/terminos_legales'
- id = 'legal_conditions_modal'
- title = 'Condiciones y Términos Legales'
= render partial: '/layouts/modal-scaffold', locals: {content: content, id: id, title: title}
 