%h2.my-3.p-1.bg-primary.text-light.text-center Nuevo Servicio

= render 'form'

- if current_user&.client&.services.any?
    = link_to 'Regresar', services_path, class: 'btn mt-3 btn-secondary rounded-0'
