.bg-primary-okyx {
    background-color: $primary-color;
}

.bg-secondary-okyx {
    background-color: $secondary-color;
}

.color-primary-okyx {
    color: $primary-color;
}

.color-secondary-okyx {
    color: $secondary-color;
}

.bg-orange-dark-okyx {
    background-color: $orange;
}