%div{style: 'text-align: center !important;'}
  %h3 ¡Bienvenido a OKYX!

  %p
    Le damos la más cordial bienvenida y esperamos por ser de su agrado. 

  %h1 OKYX
    
  %p
    Puede visitar nuestra plataforma haciendo clíc en el siguiente enlace: 
    = link_to 'okyx', 'https://okyx.global'
    