/ Carousel
#mainCarousel.carousel.carousel-dark.slide(data-bs-ride="carousel")
    / Indicators/dots
    .carousel-indicators
        %button.active(data-bs-slide-to="0" data-bs-target="#mainCarousel" type="button")
        %button(data-bs-slide-to="1" data-bs-target="#mainCarousel" type="button")
        %button(data-bs-slide-to="2" data-bs-target="#mainCarousel" type="button")
    / The slideshow/carousel
    .carousel-inner{style: 'background:white; height: 524px;'}
        .carousel-item.active
            .text-center
                = image_tag "01_main_services.jpg"
        .carousel-item
            .text-center
                = image_tag "02_main_services.jpg", width: '100%'
        .carousel-item
            .text-center
                = image_tag "03_main_services.jpg"
        - if false
            .carousel-item
                .text-center
                    = image_tag "example-services05-with-logo.png", width: '100%'
    / Left and right controls/icons
    %button.carousel-control-prev(data-bs-slide="prev" data-bs-target="#mainCarousel" type="button" style= "color:red")
        %span.carousel-control-prev-icon(aria-hidden="true")
        %span.visually-hidden Anterior
    %button.carousel-control-next(data-bs-slide="next" data-bs-target="#mainCarousel" type="button")
        %span.carousel-control-next-icon(aria-hidden="true")
        %span.visually-hidden Próxima