%br
%br
%br
%br
%footer
  .pb-2.bg-secondary-okyx.fixed-bottom
    = render '/layouts/invite_nav'
    %p.text-center.text-light.align-middle.mb-0.pt-2
      © 2024
      OKYX - 
      Todos los derechos reservados