%nav.navbar.navbar-expand-lg.bg-primary-okyx
  .container
    %a.navbar-brand{:href => session_dashboard_path}
      = image_tag 'own_resources/logo_name_2.svg', width: 120, class: 'm-0 p-0'
    %button.navbar-toggler{"aria-controls" => "navbarTogglerMain", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbarTogglerMain", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbarTogglerMain.collapse.navbar-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        - if user_signed_in?
          - if current_admin&.is_boss?
            - @active = @controller_name.eql? 'area' ? 'active' : ''
            %li.nav-item{class: @active}
              = link_to t('activerecord.models.area.other')&.titleize, areas_path, class: 'nav-link'
          - @active = @controller_name.eql? 'area' ? 'active' : ''
          %li.nav-item{class: @active}
            = link_to t('activerecord.models.service.other')&.titleize, services_path, class: 'nav-link'          

      = render '/layouts/session_links'    
        