.float-end
  - if user_signed_in?
    = current_user.name

    = link_to destroy_user_session_path, data: {turbo_method: :delete}, class: 'float-end mx-3 btn btn-sm btn-outline-primary rounded-0' do
      %i.fa.fa-right-from-bracket
      Cerrar sesión
  - else
    - if controller_name != 'sessions'
      - # Link Login
      = btn_tooltip_link_to 'Iniciar Sessión', 'Iniciar Sesión', 'fa fa-right-from-bracket', 'btn-sucess btn-sm btn-primary', '/users/sign_in'
    
    - if controller_name != 'registrations'
      - # Link Registration
      = btn_tooltip_link_to 'Registrarse', 'Registrarse', 'fa fa-user-plus', 'btn-sucess btn-sm btn-success', '/users/sign_up'