.float-end
  - if controller_name != 'sessions'
    - # Link Login
    = btn_tooltip_link_to 'Iniciar Sessión', 'Iniciar Sesión', 'fa fa-right-from-bracket', 'btn-sucess btn-sm btn-outline-primary', '/users/sign_in'
  
  - if controller_name != 'registrations'
    - # Link Registration
    = btn_tooltip_link_to 'Registrarse', 'Registrarse', 'fa fa-user-plus', 'btn-sucess btn-sm btn-outline-primary', '/users/sign_up'