.float-end
  - if user_signed_in?
    = current_user.name

    = link_to destroy_user_session_path, data: {turbo_method: :delete}, class: 'float-end mx-3 btn btn-sm btn-outline-primary' do
      %i.fa.fa-right-from-bracket
      Cerrar sesión