.content-fluid.mx-3.p-4.bg-light.text-dark

    %p.text-sm-justify Toda la información suministrada, será utilizada exclusivamente para fines promocionales y publicitarios en la plataforma Okyx.

    %p.text-sm-justify La información suministrada es de dominio publico y su publicación está autorizada por el servicio.

    %p.text-sm-justify El publicante asume toda la responsabilidad por el servicio prestado y la información suministrada aceptando qué la misma es auténtica y fidedigna.

    %p.text-sm-justify Okyx se reserva el derecho de admisión o suspensión de publicacion.


    %p.text-sm-justify El publicante de servicio se compromete al buen uso de la plataforma que no afecte el nombre, la imagen y desempeño de la plataforma digital okyx. 

    %p.text-sm-justify Los servicios publicados deberán estar conformes con lo establecido en el ordenamiento jurídico legal del país, así como regidos en los patrones morales, de honestidad, veracidad, cumplimiento y garantía de servicio.