.border.my-3.p-2
  %h3 Bitácora
  .table-responsive.p-2
    %table.table.table-sm.table-striped.table-hover
      %thead
        %tr
          %th Descripción
          %th Quien
          %th Cuándo
      %tbody
        - versions.order(created_at: :desc).each do |ver|
          %tr
            %td= ver.event
            %td= User.where(id: ver.whodunnit).first&.name
            %td= l(ver.created_at)

